// Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

// Variables
$beigeCA:#CAC6BB;
$black30:#303030;
$gray90:#909090;
$grayC4:#C4C4C4;
$whiteF6:#F6F6F6;

// General
*{
    font-family: 'Quattrocento', serif;
    color: $gray90;
    font-size: 14px;
}
a{
    text-decoration: none;
}
html{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    width: max-content;
}

// Classes
.title{
    font-family: 'Oswald', sans-serif;
    color: $black30;
    font-weight: 500;
    font-size: 26px;
}

.button{
    font-family: 'Quattrocento', serif;
    font-size: 18px;
    background-color: $black30;
    color: $whiteF6;
    padding: 15px 28px;
}

.container{
    max-width: 1200px;
    background-color: rgba($color: $grayC4, $alpha: .15);
    background-image: url(img/background.svg);
    background-repeat: no-repeat;
}

.header{
    padding: 33px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        margin-right: 15%;
    }
    &__social{
        display: flex;
        gap: 24px;
    }
}

.menu{
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: -10px;
        background-color: $beigeCA;
        height: 4px;
        width: 8%;
    }
    &__item{
        color: $black30;
    }
}

.main{
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 6%;
}

.services{
    width: 20%;
}
.service{
    &__title{
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__item{
        font-size: 18px;
        font-weight: 500;
    }
    &__img{
        width: 30px;
        height: 30px;
        padding: 4% 4%;
        background-color: white;
    }
    &__text{
        font-family: 'Quattrocento', serif;
    }
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    position: relative;
    &__title{
        text-align: center;
        margin: 0;
        font-size: 80px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            background-color: $beigeCA;
            height: 4px;
            width: 12.5%;
        }
    }
    &__img{
        width: 75%;
        position: relative;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        background-color: $beigeCA;
        width: 80%;
        height: 62%;
        box-sizing: border-box;
        border-radius: 5% 5% 0 0;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 5.5%;
        border: 1px solid $beigeCA;
        border-bottom: 0px;
        width: 89%;
        height: 65%;
        box-sizing: border-box;
        border-radius: 5% 5% 0 0;
        z-index: -1;
    }
}

.whoami{
    width: 26.5%;
    &__text{
        margin-bottom: 48px;
    }
}

.features{
    display: flex;
    gap: 32px;
    margin-top: 25%;
}

.feature{
    &__title{
        margin: 0;
    }
    &__text{
        margin: 0;
    }
}