// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// General
*{
    font-family: "Poppins", sans-serif;
    color: #FBFBFB;
}

html {
    padding: 0 95px;
}

body {
    background-color: #515DEF;
    background-image: url(img/hero.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 45% 100vh;
}
  
a {
    text-decoration: none;
}

// Header
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Logo
    &__logo{
        font-size: 36px;
        line-height: 54px;
        
        // Highlights
        &--highlights{
            color: #1BCFF6;
        }
    }

    // Menu
    &__menu{
        font-size: 18px;
        line-height: 27px;
        display: flex;
        gap: 56px;
        margin-right: 400px;
    }

    // Contact
    &__contact{
        font-size: 18px;
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 100px;
        background-color: #515DEF;
    }
}

// Main
.main{

    // Hero
    &__hero{

        // Paragraph
        &__paragraph{
            font-size: 24px;
            line-height: 40px;
            margin-bottom: 0;

            // Bottom Paragraph
            &--bottom{
                font-size: 24px;
                line-height: 40px;
                margin-bottom: 54px;
                width: 784px;
            }
        }

        // Title
        &__title{
            font-size: 64px;
            line-height: 80px;
            font-weight: 700;
            width: 864px;
            margin: 0;
        }

        // Button
        &__button{
            font-size: 24px;
            line-height: 40px;
            color: #333333;
            background-color: #FBFBFB;
            padding: 20px 25px;
        }
    }

    // Services
    &__services{
        display: flex;
        gap: 80px;
        background-color: #FBFBFB;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 35px 100px;

        //Container
        &__container{
            width: 328px;

            // Icon
            &__icon{
                width: 64px;
                height: 64px;
            }

            // Title
            &__title{
                color: #333333;
                font-size: 18px;
                line-height: 27px;
                font-weight: 700;
                
            }

            // Text
            &__text{
                color: #909090;
                font-size: 18px;
                line-height: 27px;
                margin: 0;
            }
        }
    }

}