// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// General
*{
    font-family: "Poppins", sans-serif;
    color: #FBFBFB;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}
  
a {
    text-decoration: none;
}

//Container
.container{
    max-width: 1200px;
    background-color: #515DEF;
    background-image: url(img/hero.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 45% 100%;
}

// Header
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;

    // Logo
    &__logo{
        font-size: 28px;
        
        // Highlights
        &--highlights{
            color: #1BCFF6;
        }
    }

    // Menu
    &__menu{
        font-size: 12px;
        display: flex;
        gap: 36px;
        margin-right: auto;
        margin-left: 100px;
    }

    // Contact
    &__contact{
        font-size: 14px;
        padding: 8px 15px;
        background-color: #515DEF;
        margin-right: 5%;
    }
}

// Main
.main{

    // Hero
    &__hero{
        margin-bottom: 70px;
        padding: 0 55px;
        // Paragraph
        &__paragraph{
            font-size: 16px;
            margin-bottom: 0;

            // Bottom Paragraph
            &--bottom{
                font-size: 16px;
                margin-bottom: 54px;
                width: 584px;
            }
        }

        // Title
        &__title{
            font-size: 45px;
            font-weight: 700;
            width: 600px;
            margin: 0;
        }

        // Button
        &__button{
            display: flex;
            align-items: center;
            width: max-content;
            font-size: 16px;
            color: #333333;
            background-color: #FBFBFB;
            padding: 10px 20px;
            &__arrow{
                width: 35px;
            }
        }
    }

    // Services
    &__services{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        background-color: #FBFBFB;
        padding: 45px 55px;
        width: 60%;

        //Container
        &__container{
            // Icon
            &__icon{
                width: 40px;
            }

            // Title
            &__title{
                color: #333333;
                font-size: 14px;
                font-weight: 700;
                margin: 0;
            }

            // Text
            &__text{
                color: #909090;
                font-size: 12px;
                margin: 0;
            }
        }
    }

}