// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');

// Variables
$redFA:#FA504D;
$black2E:#2E2F38;
$gray8E:#8E8E8E;

// Mixins
@mixin button{
    display: flex;
    align-content: center;
    background-color: #FA504D;
    padding: 16.5px 86.5px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    text-decoration: none;
}

@mixin user{
    margin: 0;
    font-size: 18px;
    color: $gray8E;
}

@mixin user2{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

// General
*{
    font-family: 'Poppins', sans-serif;
    color: $black2E;
}
html{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
}

// Classes
.button{
    @include button();
    position: relative;
    &__arrow{
        position: absolute;
        top: -25%;
        left: 100%;
    }
    &--header{
        padding: 10.5px 39px;
    }
    &--transparent{
        padding: 0;
        background-color: transparent;
    }
    &--heroTransparent{
        align-self: center;
        padding: 0;
        color: $black2E;
        text-decoration: underline;
        background-color: transparent;
    }
    &--buy{
        padding: 10.5px 95.5px;
    }
    &--buyTransparent{
        padding: 0;
        background-color: transparent;
        color: $redFA;
        padding: 10.5px 95.5px;
    }
}

.container{
    max-width: 1920px;
    max-height: 1080px;
    position: relative;
    &::before{
        content: '';
        background-color: $black2E;
        position: absolute;
        right: 0;
        top: 0;
        width: 43.75%;
        height: 100%;
        z-index: -1;
    }
}

.header{
    padding: 33px 160px;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    gap: 153px;
}

.menu{
    display: flex;
    gap: 56px;
    & *{
        text-decoration: none;
    }
}

.login{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 27px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 43.75%;
    grid-template-rows: repeat(2, 1fr);
    gap: 74px 89px;
    padding-left: 160px;
}

.hero{
    grid-column: 1;
    grid-row: 1;
    &__title{
        font-size: 72px;
        font-family: 'Belgrano', serif;
        font-weight: 400px;
        margin-bottom: 0;
        &::before{
            content: '';
            background-image: url(img/circle.svg);
            background-repeat: no-repeat;
            position: absolute;
            left: 16%;
            width: 290px;
            height: 100px;
        }
    }
    &__subtitle{
        color: $gray8E;
        font-size: 24px;
        margin-top: 16px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $redFA;
            width: 83px;
            height: 4px;
        }
    }
    &__buttons{
        display: flex;
        gap: 32px;
    }
}

.artwork{
    grid-column: 1;
    grid-row: 2;
    &__title{
        font-family: 'Belgrano', serif;
        font-size: 32px;
    }
    &__images{
        display: flex;
        gap: 32px;
    }
}

.rightContainer{
    grid-column: 2;
    grid-row: 1 / span 2;
    &::before{
        content: 'Artzie.';
        font-family: 'Belgrano',serif;
        color: white;
        font-size: 238px;
        line-height: 10px;
        position: absolute;
        bottom: 400px;
        right: -280px;
        transform: rotate(90deg);
        padding: 0;
        opacity: 5%;
    }
}

.nft{
    background-color: white;
    position: relative;
    bottom: 39px;
    right: 15px;
    width: 540px;
    padding: 32px;
}

.data{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $black2E;
    padding-bottom: 24px;
    margin: 0;
}

.profile{
    display: flex;
    align-items: center;
    gap: 16px;

    &__picture{
        width: 64px;
        height: 64px;
    }
}

.users{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
    &__user{
        @include user();
    }
    &__artName{
        @include user2();
    }
}

.prices{
    &__bid{
        @include user();
    }
    &__price{
        @include user2();
    }
}

.buy{
    display: flex;
    align-content: center;
    gap: 16px;
    padding-top: 32px;
}

.info{
    display: flex;
    gap: 72px;
    &__text{
        display: flex;
        align-items: center;
        gap: 8px;
        color: white;
        font-size: 18px;
        margin: 0;
        &--colored{
            color: $redFA;
            font-size: 32px;
        }
    }
}