// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');

// Variables
$redFA:#FA504D;
$black2E:#2E2F38;
$gray8E:#8E8E8E;

// Mixins
@mixin button{
    display: flex;
    align-content: center;
    background-color: #FA504D;
    padding: 10px 60px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

@mixin user{
    margin: 0;
    font-size: 14px;
    color: $gray8E;
}

@mixin user2{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

// General
*{
    font-family: 'Poppins', sans-serif;
    color: $black2E;
}
html{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
}

// Classes
.button{
    @include button();
    position: relative;
    display: flex;
    align-items: center;
    &--header{
        padding: 8.5px 39px;
    }
    &--transparent{
        padding: 0;
        background-color: transparent;
    }
    &--heroTransparent{
        align-self: center;
        padding: 0;
        color: $black2E;
        text-decoration: underline;
        background-color: transparent;
    }
    &--buy{
        text-align: center;
    }
    &--buyTransparent{
        padding: 0;
        background-color: transparent;
        color: $redFA;
        text-align: center;
    }
}

.container{
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        background-color: $black2E;
        position: absolute;
        right: 0;
        top: 0;
        width: 43.75%;
        height: 100%;
        z-index: -1;
    }
}

.header{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 110px;
    padding: 20px 30px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 32px;
    & *{
        text-decoration: none;
    }
}

.login{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 27px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 43.75%;
    grid-template-rows: max-content max-content;
    gap: 0px 20px;
    padding: 0px 30px;
}

.hero{
    grid-column: 1;
    grid-row: 1;
    &__title{
        font-size: 50px;
        font-family: 'Belgrano', serif;
        font-weight: 400px;
        margin-top: 60px;
        margin-bottom: 0;
        position: relative;
        &::before{
            content: '';
            background-image: url(img/circle.svg);
            background-repeat: no-repeat;
            background-size: 70%;
            position: absolute;
            top: 1%;
            left: 15%;
            width: 280px;
            height: 100px;
        }
    }
    &__subtitle{
        color: $gray8E;
        font-size: 17px;
        margin-top: 16px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $redFA;
            width: 9%;
            height: 4px;
        }
    }
    &__buttons{
        display: flex;
        gap: 32px;
        margin-top: 40px;
    }
}

.artwork{
    grid-column: 1;
    grid-row: 2;
    &__title{
        font-family: 'Belgrano', serif;
        font-size: 28px;
        font-weight: 400;
    }
    &__images{
        display: flex;
        gap: 32px;
        & *{
            width: 45%;
        }
    }
}

.rightContainer{
    grid-column: 2;
    grid-row: 1 / span 2;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    &::before{
        content: 'Artzie.';
        font-family: 'Belgrano',serif;
        color: white;
        font-size: 200px;
        line-height: 1px;
        position: absolute;
        bottom: 330px;
        right: -245px;
        transform: rotate(90deg);
        padding: 0;
        opacity: 5%;
    }
    &__img{
        width: 380px;
    }
}

.nft{
    background-color: white;
    width: 75%;
    padding: 28px;
    position: relative;
    bottom: 30px;
}

.data{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $black2E;
    padding-bottom: 24px;
    margin: 0;
}

.profile{
    display: flex;
    align-items: center;
    gap: 8px;

    &__picture{
        width: 48px;
    }
}

.users{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
    &__user{
        @include user();
    }
    &__artName{
        @include user2();
    }
}

.prices{
    &__bid{
        @include user();
    }
    &__price{
        @include user2();
    }
}

.buy{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 16px;
    padding-top: 24px;
}

.info{
    display: flex;
    justify-content: center;
    gap: 15%;
    &__text{
        display: flex;
        align-items: center;
        gap: 8px;
        color: white;
        font-size: 14px;
        margin: 0;
        &--colored{
            color: $redFA;
            font-size: 24px;
            font-weight: 600;
        }
    }
}