// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Variables
$black42:#424241;
$gray9E:#9E9D9B;
$grayDE:#DEDAD5;
$grayFA:#FAF8F5;

// Mixins
@mixin button{
    background-color: $black42;
    color: $grayFA;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 9px 10px;
}

// General
*{
    font-family: 'Poppins', sans-serif;
    color: $black42;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
}

// Classes
.button{
    @include button;
    &--transparent{
        background-color:transparent;
        color:$black42;
        padding: 0;
    }
    &__arrow{
        width: 20px;
    }
    &__expandable{
        width: 20px;
    }
}

.container{
    max-width: 1200px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background-color: $grayDE;
        width: 48.5%;
        height: 100%;
        z-index: -1;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.menu{
    display: flex;
    gap: 42px;
    margin-left: auto;
    margin-right: 23.55%;
    &__item{
        opacity: 50%;
        &--marked{
            opacity: 100%;
        }
    }
}

.main{
    padding: 10px 30px 60px;
}

.hero{
    background-image: url(img/img1.png), url(img/img2.png);
    background-repeat: no-repeat;
    background-position:top center, top right;
    background-size: 31.5%;
    padding-bottom: 14%;
    margin-top: 50px;
}

.text{
    &__title{
        font-family: 'Playfair Display', serif;
        font-size: 52px;
        font-weight: 400;
        width: 50%;
        margin: 0;
        padding-top: 1%;
    }
    &__subtitle{
        font-size: 16.75px;
        font-weight: 400;
        opacity: 50%;
        width: 45%;
        margin: 0;
        margin-top: 32px;
        margin-bottom: 56px;
    }
}

.buttons{
    display: flex;
    gap: 32px;
}

.features{
    display: flex;
    width: 70%;
}

.feature{
    width: 15.4%;
    &__number{
        font-size: 48px;
        font-weight: 500;
        margin: 0;
    }
    &__text{
        color: $gray9E;
        font-size: 14px;
        margin: 0;
        width: 50%;
    }
}

.services{
    background-color: $grayFA;
    position: absolute;
    right: 5.5%;
    bottom: 3.5%;
    width: 22%;
    padding: 12px;
    padding-bottom: 0;
    &__text{
        font-size: 14px;
        margin: 0;
        margin-bottom: 24px;
    }
}

.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__img{
        width: 30px;
    }
    &__number{
        color: $gray9E;
        font-size: 14px;
    }
    &__text{
        margin-right: auto;
        margin-left: 24px;
        font-size: 18px;
    }
    &--border{
        border-top: 1px solid $grayDE;
        border-bottom: 1px solid $grayDE;
    }
}