//Resolution
$bp-mobile: 375px;
$bp-tablet: 768px;
$bp-desktop: 1440px;

//Color
$blue:#666CA3;
$dark-blue:#13183F;
$gray:#83869A;
$pink:#FFA7C3;
$dark-pink:#F74780;
$white:#FFFFFF;
$shadow-white:#F0F1FF;
$fade-orange-purple:linear-gradient(to top, #F02AA6, #FF6F48);
$fade-blue-purple:linear-gradient(to top, #F02AA6, #4851FF);

//Font
$plusJakartaSans:'Plus Jakarta Sans', sans-serif;
$medium:500;
$bold:700;
$extrabold:800;